/* Reset some default styles for better consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 700;
  font-weight: 900;
  color: #f57d1f;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  overflow-x: hidden;
  position: relative;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 50px;
  margin-right: 10px;
}

.logo p {
  font-size: 20px;
  font-weight: bold;
}

.logo span {
  color: #f57d1f;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 25px;
  list-style: none;
}

.nav a {
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: #ffcc00;
  background-color: blue;
  border: 1px solid #ffcc00;
}

/* Style Jumbotron */
.jumbotron {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 578px;
  background-image: url("../image/bg-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 20px 0px 20px;
  color: white;
  align-items: center;
  justify-content: center;
}

.jumbotron h1 {
  text-shadow: 2px 2px 4px rgb(243, 132, 6);
  margin-bottom: 1rem;
  animation: fadeIn 1s ease-in-out;
}

.jumbotron span {
  color: #f57d1f;
}

/* Style Content */
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.our-profile {
  padding: 20px 0px 100px 0px;
  margin-bottom: 6rem;
}

.profile {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  gap: 3rem;
  margin-top: 2rem;
}

.profile img {
  height: 200px;
  width: 200px;
  border: 5px solid black;
  margin-right: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

#ourProfile {
  text-align: center;
  align-items: center;
  margin-bottom: 6rem;
}

.profile-content {
  padding-top: 20px;
}

.container-profile img {
  width: 150px;
}

.container-profile {
  font-size: 16px;
  line-height: 1.5;
}

.profile-content {
  display: flex;
  flex-direction: row;
}

.visi .misi {
  flex-direction: column;
}

.visi {
  flex: 1;
}

.misi {
  flex: 1;
}
.misi li {
  list-style: none;
}

.profile-content h3 {
  margin-top: 1rem;
}

.portofolio {
  padding: 40px 0;
}

.portofolio .section-title {
  text-align: start;
  margin-bottom: 30px;
}

.portofolio .row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.portofolio-wrap {
  width: calc(33.33% - 30px);
  margin: 15px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.portofolio-wrap:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portofolio-wrap img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

#message {
  padding: 50px 0px 100px 0px;
}

.message-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

form {
  margin-top: 1rem;
  flex: 1;
  /* max-width: 50%; Adjusted to 100% width */
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name,
.lahir,
.kelamin,
.pesan {
  margin-bottom: 15px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#messageResult {
  flex: 1;
  height: 300px;
  border: 1px solid black;
  padding: 20px;
}

/* Style Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: end;
  padding: 20px 0;
}

footer p {
  margin: 0;
  padding-right: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Query for Screens up to 768px */
@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    margin-bottom: 5px;
  }

  .nav ul {
    gap: 1rem;
  }

  .nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .jumbotron {
    padding: 50px 20px 20px 20px;
    height: auto; /* Adjust height for smaller screens */
  }

  .profile {
    text-align: center;
    margin-left: 0;
    gap: 1rem;
  }

  .profile img {
    height: 100px;
    width: 100px;
  }

  .profile-content {
    flex-direction: column;
  }

  #message h2 {
    text-align: center;
  }

  .message-us {
    flex-direction: column;
    gap: 2rem;
  }

  #messageResult {
    width: 200px;
    padding: 20px;
  }

  footer {
    text-align: center;
  }
}
